<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
    <% article.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating %>
    <% article.errors.full_messages_for(:rating).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <% article.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
